@model Note

@{
    ViewBag.Title = "Edit";
}

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var taskListsHub = $.connection.tasklistsHub;

            $("#submitButton").click(function () {
                taskListsHub.editNote($('#Title').val(), $('#Content').val(), $('#IsClosed').attr('checked'), '@Model.RowKey');
            });

            taskListsHub.broadcastNoteDelete = function (noteId) {
                var currentNoteId = '@Model.RowKey';

                if (currentNoteId == noteId) {
                    $('#form').before($('<div class="alert"><button type="button" class="close" data-dismiss="alert">×</button><strong>Warning!</strong> The note you are editing was deleted by someone else.</div>').fadeIn('slow'));
                }
            };

            taskListsHub.broadcastNoteChanges = function (title, content, isClosed, noteId) {
                var currentNoteId = '@Model.RowKey';

                if (currentNoteId == noteId) {
                    $('#noteForm').animate({ 'opacity': 0 }, 300, function () {
                        $('#Title').val(title);
                        $('#Content').val(content);
//                        $('#IsClosed').val(isClosed);
                        $('#IsClosed').attr('checked', isClosed);
                    }).animate({ 'opacity': 1 }, 300);
                }
            };

            $.connection.hub.start();
        });
    </script>  
}

@if (ViewBag.ValidationErrors != null)
{
    @Html.DisplayForValidationErrors((IEnumerable<ValidationResult>) ViewBag.ValidationErrors)
}

@using (Html.BeginForm("Edit", "Notes", new { noteOwnerId = Model.PartitionKey, noteId = Model.RowKey }, FormMethod.Post, new { @class = "form-horizontal", id = "form" }))
{
    @Html.Partial("_CreateOrEdit", Model)

    <div class="form-actions">
        @Html.Button("submit", "Save Changes", new { @class = "btn btn-primary", id = "submitButton" })  | 
        @Html.ActionLink("Back to List", "Index", new { taskListOwnerId = ViewBag.ContainerOwnerId, taskListId = ViewBag.ContainerId })
    </div>
}