@model IEnumerable<User>

@{
    ViewBag.Title = "Share";
}

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var taskListsHub = $.connection.tasklistsHub;

            $("#submitButton").click(function () {
                var noteId = '@ViewBag.NoteId';
                taskListsHub.shareNote(noteId);
            });

            $.connection.hub.start();
        });
    </script>
}

@if (TempData["AlertMessage"] != null)
{
    @Html.DisplayForAlertMessage((string) TempData["AlertMessage"])
}

@using (Html.BeginForm("Share", "Notes", new { ViewBag.NoteOwnerId, ViewBag.NoteId }, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Partial("_UsersList", Model)

    <div class="form-actions">
        @Html.Button("submit", "Share", new { @class = "btn btn-primary", id = "submitButton" }) | 
        @Html.ActionLink("Back to List", "Index", new { taskListOwnerId = ViewBag.ContainerOwnerId, taskListId = ViewBag.ContainerId })
    </div>
}