@model TaskList

@{
    ViewBag.Title = "Details";
}

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var taskListsHub = $.connection.tasklistsHub;

            taskListsHub.broadcastDelete = function (taskListId) {
                var currentTaskListId = '@Model.RowKey';

                if (currentTaskListId == taskListId) {
                    $('#form').before($('<div class="alert"><button type="button" class="close" data-dismiss="alert">×</button><strong>Warning!</strong> The tasklist you are seeing was deleted by someone else.</div>').fadeIn('slow'));
                }
            };

            taskListsHub.broadcastTaskListShare = function (taskListId) {
                var currentTaskListId = '@Model.RowKey';

                if (currentTaskListId == taskListId) {
                    var url = $('#form').attr("action");

                    $.get(url, function (result) {
                        $('#taskListForm').animate({ 'opacity': 0 }, 300, function () {
                            $('#body').html(result);
                        }).animate({ 'opacity': 1 }, 300);
                    });
                }
            };

            taskListsHub.broadcastTaskListChanges = function (title, taskListId) {
                var currentTaskListId = '@Model.RowKey';

                if (currentTaskListId == taskListId) {
                    $('#Title').animate({ 'opacity': 0 }, 300, function () {
                        $('#Title').val(title);
                    }).animate({ 'opacity': 1 }, 300);
                }
            };

            $.connection.hub.start();
        });
    </script>  
}

<form class="form-horizontal" id="form">
    @Html.Partial("_DetailsOrDelete", Model)
    
    @Html.Partial("_Share", Model.Share)
</form>

<div>
    @Html.RouteLink("Back to List", "Default", new RouteValueDictionary { { "controller", "TaskLists" }, { "action", "Index" } })
</div>