@model IPagedList<TaskList>
           
@if (IsAjax)
{
    Layout = null;
}

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var taskListsHub = $.connection.tasklistsHub;

            taskListsHub.broadcastTaskListChanges = function () {
                var url = '@Url.Action("Index", "TaskLists")';

                $.get(url, function (result) {
                    $('#main').animate({ 'opacity': 0 }, 300, function () {
                        $('#main').html(result);
                    }).animate({ 'opacity': 1 }, 300);
                });
            };

            $.jGrowl.defaults.pool = 5;

            taskListsHub.Notify = function(message) {
                $.jGrowl(message, { sticky: true });
            };

            $.connection.hub.start();
        });
    </script>
}

@{
    ViewBag.Title = "TaskLists";
}

@Html.ActionLink("Create New", "Create")

<br/>
<br/>

<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>@Ajax.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSortParam }, 
                       new AjaxOptions { UpdateTargetId = "main", Url = Url.Action("Index", new { sortOrder = ViewBag.TitleSortParam }) })</th>
            <th>@Ajax.ActionLink("Created At", "Index", new { sortOrder = ViewBag.CreatedSortParam }, 
                       new AjaxOptions { UpdateTargetId = "main", Url = Url.Action("Index", new { sortOrder = ViewBag.CreatedSortParam }) })</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var taskList in Model)
        {
            <tr>
                <td>@taskList.Title</td>
                <td>@taskList.Timestamp.ToShortDateString()</td>
                <td>@Html.ActionLink("Details", "Details", new { taskListOwnerId = taskList.PartitionKey, taskListId = taskList.RowKey }) |
                    @Html.ActionLink("Edit", "Edit", new { taskListOwnerId = taskList.PartitionKey, taskListId = taskList.RowKey }) |
                    @Html.ActionLink("Delete", "Delete", new { taskListOwnerId = taskList.PartitionKey, taskListId = taskList.RowKey }) |
                    @Html.ActionLink("Notes", "Index", "Notes", new { taskListOwnerId = taskList.PartitionKey, taskListId = taskList.RowKey }, null) |
                    @Html.ActionLink("Share", "Share", new { taskListOwnerId = taskList.PartitionKey, taskListId = taskList.RowKey })</td>
            </tr>
        }
    </tbody>
</table>

@Html.Partial("_Paging")